.node {
    width: 60px;
    height: 60px;
    outline: 1px solid rgb(144, 184, 214);
    /* outline-offset: -5px; */
    display: inline-block;
}

.node-right {
    border-right: 5px solid #000;
    width: 55px;
    /* box-shadow: inset -8px 0 10px -6px black; */
}

.node-bottom {
    border-bottom: 5px solid #000;
    height: 55px;
    /* box-shadow: inset 0 -8px 10px -6px black; */
}

.node-left {
    border-left: 5px solid #000;
    width: 55px;
    /* box-shadow: inset 8px 0 10px -6px black; */
}

.node-top {
    border-top: 5px solid #000;
    height: 55px;
    /* box-shadow: inset 0 8px 10px -6px black; */
}